section {
    padding: 50px;
    margin : 20px;
    border : 1px solid #ccc;
    height : 500px;
}

nav {
    position        : fixed;
    top             : 10px;
    left            : 10px;
    background-color: #333;
    padding         : 10px;
    color           : white;
}

a {
    color          : white;
    text-decoration: none;
    margin-right   : 15px;
}